<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index ::dynamic(~{::main})}">

<body>
  <main class="row">
  <div th:each="p:${items}" class="col-sm-3 mt-4">
    <div class="poly-item">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
             <h5 class="mb-0"  th:utext="${p.name}" ></h5>
     
          </div>
          <div class="text-center">
           <a th:href="@{|/product/detail/${p.id}|}">
      
        </a>
        </div>

            <div class="text-center">
             
             
              
            </div>

            <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
              <a href="#!" class="text-dark fw-bold">Cancel</a>
              <button  th:attr="ng-click=@{|cart.add(${p.id})|}"type="button" class="btn btn-primary">Buy now</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

</body>

</html>