<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
	<main th:object="${item}">
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="./img/product01.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/product03.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/product06.png" alt="">
							</div>

							<div class="product-preview">
								<img th:src="@{|/assets/images/*{image}|}">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="./img/product01.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/product03.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/product06.png" alt="">
							</div>

							<div class="product-preview">
								<img th:src="@{|/assets/images/*{image}|}">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 th:text="*{name}"></h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#">10 Review(s) | Add your
									review</a>
							</div>
							<div>
								<h3 th:text="*{price}"$></h3>

							</div>


							<div class="add-to-cart">
								<div class="qty-label">
									Qty
									<div class="input-number">
										<input type="number"> <span class="qty-up">+</span> <span
											class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn">
									<i class="fa fa-shopping-cart"></i> add to cart
								</button>
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> add to
										wishlist</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i> add to
										compare</a></li>
							</ul>

							<ul class="product-links">
								<li>Category:</li>
								<li><a href="#">Headphones</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>

							<ul class="product-links">
								<li>Share:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab2">Details</a></li>
								<li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">Thân máy TUF Gaming F15 có gì đặc
											biệt? Độ bền ra sao? Mỗi chiếc laptop TUF Gaming khi xuất
											xưởng đều có độ bền xuất sắc. Sản phẩm đã vượt qua bài thử
											nghiệm độ bền chuẩn quân đội MIL-STD-810H với các thử nghiệm
											như thả rơi, chống rung, nhiệt độ cao, nhiệt độ thấp hay độ
											ẩm. TUF Gaming F15 có cơ chế tản nhiệt gì? Hệ thống tản nhiệt
											cao cấp bao gồm nhiều ống tản nhiệt và 3 ống dẫn nhiệt giúp
											Asus TUF F15 có khả năng tản nhiệt nhanh chóng. Thiết kế làm
											mát tự làm sạch thông minh đảm bảo hệ thống tản nhiệt hoạt
											động hiệu quả và lâu dài. Hệ thống âm thanh của Asus TUF F15
											có phù hợp với tác vụ gaming? Asus TUF Gaming F15
											FX506LHB-HN188W cho âm lượng lớn gấp 1,8 lần và âm bass trầm
											hơn 2,7 lần so với thế hệ trước. Bạn sẽ được trải nghiệm âm
											thanh vòm ảo 7.1 nhờ công nghệ DTS:X, mang đến chất lượng âm
											thanh chuẩn phòng thu khi sử dụng tai nghe Stereo. Tám chế độ
											âm thanh khác nhau giúp bạn có được trải nghiệm nghe đúng như
											ý thích với mỗi hoạt động nghe nhạc, xem phim hay chơi game.

											Dung lượng RAM và ổ cứng Asus TUF F15 như thế nào? Asus TUF
											F15 được trang bị ổ cứng 512GB SSD NVMe PCIe và 8GB RAM DDR4
											có khả năng nâng cấp dễ dàng để bạn có được hiệu năng đúng
											như ý muốn. Asus TUF F15 có chơi game mượt không? Với màn
											hình 15.6 inch tần số quét 144Hz, chip Intel Core i5 10300H 4
											lõi 8 luồng mạnh mẽ và card đồ họa NVIDIA GeForce GTX 1650,
											Asus TUF F15 có khả năng chơi game cực kỳ mượt mà, từ các trò
											chơi eSports cho đến những tựa game bom tấn AAA.</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in active">
									<table class="table table-bordered">
										<thead>
											<tr>
												<td colspan="2"><strong>Thông số chi tiết</strong></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Màn hình:</td>
												<td>OLED6.1"Super Retina XDR</td>
											</tr>
											<tr>
												<td>Hệ điều hành:</td>
												<td>iOS 14</td>
											</tr>
											<tr>
												<td>Camera sau:</td>
												<td>2 camera 12 MP</td>
											</tr>
											<tr>
												<td>Camera trước:</td>
												<td>12 MP</td>
											</tr>
											<tr>
												<td>Chip:</td>
												<td>Apple A14 Bionic</td>
											</tr>
											<tr>
												<td>Ram:</td>
												<td>4GB</td>
											</tr>
											<tr>
												<td>Bộ nhớ trong:</td>
												<td>64GB</td>
											</tr>
											<tr>
												<td>SIM:</td>
												<td>1 Nano SIM &amp; 1 eSIMHỗ trợ 5G</td>
											</tr>
											<tr>
												<td>Pin, Sạc:</td>
												<td>2815 mAh20 W</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>4.5</span>
													<div class="rating-stars">
														<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
															class="fa fa-star"></i> <i class="fa fa-star"></i> <i
															class="fa fa-star-o"></i>
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 80%;"></div>
														</div> <span class="sum">3</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 60%;"></div>
														</div> <span class="sum">2</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div> <span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div> <span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i
																class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
																class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div> <span class="sum">0</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												<ul class="reviews">
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur
																adipisicing elit, sed do eiusmod tempor incididunt ut
																labore et dolore magna aliqua</p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur
																adipisicing elit, sed do eiusmod tempor incididunt ut
																labore et dolore magna aliqua</p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur
																adipisicing elit, sed do eiusmod tempor incididunt ut
																labore et dolore magna aliqua</p>
														</div>
													</li>
												</ul>
												<ul class="reviews-pagination">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form">
													<input class="input" type="text" placeholder="Your Name">
													<input class="input" type="email" placeholder="Your Email">
													<textarea class="input" placeholder="Your Review"></textarea>
													<div class="input-rating">
														<span>Your Rating: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label
																for="star5"></label> <input id="star4" name="rating"
																value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label
																for="star3"></label> <input id="star2" name="rating"
																value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label
																for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">Submit</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
	</main>
</body>
</html>
