<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
	<main>
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Sản phẩm mới</h3>
							<div class="section-nav">
							
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div th:each="p:${items}" class="col-sm-3 mt-4">
						<div class="col-md-12">
							<div class="row">
								<div>
									<!-- tab -->
									<div id="tab1" class="tab-pane active">
										<div class="products-slick" data-nav="#slick-nav-1">
											<!-- product -->
											<div class="product">
												<div class="poly-item">
													<a th:href="@{|/product/detail/${p.id}|}"> <img
														th:src="@{|/assets/images/${p.image}|}">
													</a>	
												</div>
												<div class="product-body">
											
													<h3 class="product-name">
														<a href="#">[[${p.name}]]</a>
													</h3>
													<h4 class="product-price">[[${p.price}]]$</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
															class="fa fa-star"></i> <i class="fa fa-star"></i> <i
															class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist">
															<i class="fa fa-heart-o"></i><span class="tooltipp">add
																to wishlist</span>
														</button>
														<button class="add-to-compare">
															<i class="fa fa-exchange"></i><span class="tooltipp">add
																to compare</span>
														</button>
														<button class="quick-view">
															<i class="fa fa-eye"></i><span class="tooltipp">quick
																view</span>
														</button>
													</div>
												</div>
												<div class="add-to-cart">
													<button th:attr="ng-click=@{|cart.add(${p.id})|}"
														class="add-to-cart-btn">
														<i class="fa fa-shopping-cart"></i> add to cart
													</button>
												</div>
											</div>
										</div>

									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<div id="hot-deal" class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hot-deal">
								<ul class="hot-deal-countdown">
									<li>
										<div>
											<h3>02</h3>
											<span>Days</span>
										</div>
									</li>
									<li>
										<div>
											<h3>10</h3>
											<span>Hours</span>
										</div>
									</li>
									<li>
										<div>
											<h3>34</h3>
											<span>Mins</span>
										</div>
									</li>
									<li>
										<div>
											<h3>60</h3>
											<span>Secs</span>
										</div>
									</li>
								</ul>
								<h2 class="text-uppercase">hot deal this week</h2>
								<p>New Collection Up to 50% OFF</p>
								<a class="primary-btn cta-btn" href="#">Shop now</a>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Sản phẩm mới</h3>
							<div class="section-nav">
							
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div th:each="p:${items}" class="col-sm-3 mt-4">
						<div class="col-md-12">
							<div class="row">
								<div>
									<!-- tab -->
									<div id="tab1" class="tab-pane active">
										<div class="products-slick" data-nav="#slick-nav-1">
											<!-- product -->
											<div class="product">
												<div class="poly-item">
													<a th:href="@{|/product/detail/${p.id}|}"> <img
														th:src="@{|/assets/images/${p.image}|}">
													</a>	
												</div>
												<div class="product-body">
											
													<h3 class="product-name">
														<a href="#">[[${p.name}]]</a>
													</h3>
													<h4 class="product-price">[[${p.price}]]$</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
															class="fa fa-star"></i> <i class="fa fa-star"></i> <i
															class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist">
															<i class="fa fa-heart-o"></i><span class="tooltipp">add
																to wishlist</span>
														</button>
														<button class="add-to-compare">
															<i class="fa fa-exchange"></i><span class="tooltipp">add
																to compare</span>
														</button>
														<button class="quick-view">
															<i class="fa fa-eye"></i><span class="tooltipp">quick
																view</span>
														</button>
													</div>
												</div>
												<div class="add-to-cart">
													<button th:attr="ng-click=@{|cart.add(${p.id})|}"
														class="add-to-cart-btn">
														<i class="fa fa-shopping-cart"></i> add to cart
													</button>
												</div>
											</div>
										</div>

									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- NEWSLETTER -->
			<div id="newsletter" class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="newsletter">
								<p>
									Sign Up for the <strong>NEWSLETTER</strong>
								</p>
								<form>
									<input class="input" type="email"
										placeholder="Enter Your Email">
									<button class="newsletter-btn">
										<i class="fa fa-envelope"></i> Subscribe
									</button>
								</form>
								<ul class="newsletter-follow">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /NEWSLETTER -->
	</main>
</body>
</html>


