<div xmlns:th="http://www.thymeleaf.org">
  <div class="panel-heading">
      <div class="card-header">Danh Mục</div>
  </div>
  <div id="list-example" class="list-group">
    <a href="/product/list?cid=1" class="list-group-item">Category 1</a>
    <a href="/product/list?cid=2" class="list-group-item">Category 2</a>
    <a href="/product/list?cid=3" class="list-group-item">Category 3</a>
    <a href="/product/list?cid=4" class="list-group-item">Category 4</a>
    <a href="/product/list?cid=5" class="list-group-item">Category 5</a>
  </div>

</div>