<div xmlns:th="http://www.thymeleaf.org">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" th:href="@{/product/list}">
          <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo"
            loading="lazy" />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/product/list}">Home</a>
          </li>
          
				<th:block th:if="${#request.remoteUser}">
					<li ><a th:href="@{/security/logoff}"> Sign Out</a></li>
					<li ><a th:href="@{/order/list}"> You Orders </a></li>
					<li th:if="${#request.isUserInRole('DIRE')or #request.isUserInRole('STAF')}" >
					<a th:href="@{/admin/home/index}"></i>Administration </a></li>
				</th:block>
        <th:block th:unless="${#request.remoteUser}">
          <li  ><a th:href="@{/security/login/form}"> Sign In </a></li>
        </th:block>
        </ul>
        
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <ul th:if="${#request.remoteUser}" class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome [[${#request.remoteUser}]]</a></li>
    </ul>
      <a class="text-reset me-3" th:href="@{/cart/view}">
        <i class="fas fa-shopping-cart">
        </i>
      </a>
     
      <span class="badge rounded-pill badge-notification bg-danger">{{cart.count}} </span>

      
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</div>