<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  
 
<head>
   <link  href="/assets/css/aside.css" rel="stylesheet"> 
</head>
<body>
	<div th:fragment="aside">

  <aside>   
        <div class="toggle_menu"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
        
            <ul >
            
     <li ><a href="#">
       <i class="fa fa-clock-o" aria-hidden="true"></i>Trang chủ ADMIN
     </a></li>
     <li><a href="#">
      <i class="fa fa-clock-o" aria-hidden="true"></i> Quản lý danh mục
     </a></li>
     
     <li><a href="#">
       <i class="fa fa-clock-o" aria-hidden="true"></i>Danh sách đơn hàng
     </a></li>
     <li><a href="#">
      <i class="fa fa-clock-o" aria-hidden="true"></i> Cấu hình USER
     </a></li>
     <li><a href="#">
      <i class="fa fa-clock-o" aria-hidden="true"></i>Quản lý doanh thu
     </a></li>
     
     </ul>
     
     
     </aside> 

	
</body>
</html>