<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>
<body>
      <div th:fragment="nav">
       <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">Tech-polyshop</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/accounts}">Menage customer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/categories/search}" >Menage category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/products}">Manage Product</a>
                </li>
              
                
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span> Tài Khoản
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Đăng Nhập</a>
                    <a class="dropdown-item" href="#">Quên Mật Khẩu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Đăng Xuất</a>
                    <a class="dropdown-item" href="#">Đổi Mật Khẩu</a>
                    <a class="dropdown-item" href="#">Cập Nhật Hồ Sơ</a>
                  </div>
                </li>
                
              </ul>
           <!--     <ul class="navbar--nav reverser">
                             <li class="nav-item">
                <a class="nav-link active" href="#">Tiếng Anh</a>
                             </li>
                             <li class="nav-item">
                <a class="nav-link" href="#">Tiếng Việt</a>
                             </li>
                         </ul> -->
            <!--   <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->
            </div>
          </nav> 
      </div>
</body>
</html>