<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 th:replace="~{/layout/index::dynamic(~{::main})}">
 
    <body>
      <main>
       <div class="section">
      <div class="panel panel-primary container">
      	<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<form class="col-md-11"  name="form" novalidate>
						<!-- Billing Details -->
						<div class="billing-details" >
							<div class="section-title">
								<h3 class="title">Địa chỉ giao hàng</h3>
							</div>
							<div class="form-group">
								<div class="input" id="username" type="text">[[${#request.remoteUser}]]</div>
							</div>

							<div class="form-group">
								<input class="input" type="email" ng-model="order.email" placeholder="Email" name="email" required>
								<span style="color:red"
										ng-show="form.email.$dirty && form.email.$invalid">
										<span ng-show="form.email.$error.required">Email không được bỏ trống</span>
								
							  </div>
							  <div class="form-group">
								<input class="input" type="text" ng-model="order.address" placeholder="Địa chỉ" name="address" required>
								<span style="color:red"
										ng-show="form.address.$dirty && form.address.$invalid">
										<span ng-show="form.address.$error.required">Địa chỉ không được bỏ trống</span>
							  </div>
							  <div class="form-group">
								<input class="input" type="text" ng-model="order.district" name="city" placeholder="Tỉnh" required>
								<span style="color:red"
										ng-show="form.city.$dirty && form.city.$invalid">
										<span ng-show="form.city.$error.required">Thành phố không được bỏ trống</span>
								
							  </div>
							  <div class="form-group">
								<input class="input" type="text" ng-model="order.wards" name="code" placeholder="Huyện" required>
								<span style="color:red"
										ng-show="form.code.$dirty && form.code.$invalid">
										<span ng-show="form.code.$error.required">Huyện không được bỏ trống</span>
								
							  </div>
							  <div class="form-group">
								<input class="input" type="text" ng-model="order.province" name="country" placeholder="Đất nước" required>
								<span style="color:red"
								ng-show="form.country.$dirty && form.country.$invalid">
								<span ng-show="form.country.$error.required">Khu vực không được bỏ trống</span>
								
							  </div>
							
							  <div class="form-group">
								<input class="input" type="tel" ng-model="order.sdt" name="tel" placeholder="Số điện thoại" required>
								<span style="color:red"
								ng-show="form.tel.$dirty && form.tel.$invalid">
								<span ng-show="form.tel.$error.required">Số điện thoại không được bỏ trống</span>
							
							  </div>
							  
							  
					
					<!-- Order Details -->
					<div class="order-details">
						<div class="section-title text-center">
							<h3 class="title">Đơn hàng của bạn</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>Sản phẩm</strong></div>
								<div><strong>Tổng tiền</strong></div>
							</div>
							<div class="order-products" th:each="detail:*{orderDetails}" th:object="${detail}">
								<div class="order-col">
									<div>[[*{quantity}]]x[[*{product.name}]]</div>
									<div>$[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',2,'POINT')}]]</div>
								</div>

							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Thanh toán trực tiếp
								</label>
								<div class="caption">
									<p>Sau khi nhận hàng vui lòng thanh toán lại cho Shipper xin cảm ơn.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									Thanh toán trực tuyến
								</label>
								<div class="caption">
									<p>Thanh toán trực tuyến qua ngân hàng</p>
								</div>
							</div>
							
						</div>
						
						<button ng-click="order.purchase()" ng-disabled="form.email.$dirty && form.email.$invalid || form.address.$dirty && form.address.$invalid || form.city.$dirty && form.city.$invalid || form.code.$dirty && form.code.$invalid || form.country.$dirty && form.country.$invalid || form.tel.$dirty && form.tel.$invalid || form.note.$dirty && form.note.$invalid" class="primary-btn order-submit">Xác nhận đặt hàng</button>



					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		</div>
		</div>
      </main>

    </body>
</html>