<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
	<main th:object="${order}">
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Thông tin chi tiết đơn hàng</h3>
							</div>
							<div class="form-group">
								<input th:field="*{id}" class="form-control" readonly>
							</div>
							<div class="form-group">
								<input th:field="*{account.username}" class="form-control"
									readonly>
							</div>
							<div class="form-group">
								<input th:field="*{createDate}" class="form-control" readonly>
							</div>
							<div class="form-group">
								<input th:field="*{address}" class="form-control" readonly>
							</div>
							<div class="form-group">
								<input th:field="*{district}" class="form-control" readonly>
							</div>
							<div class="form-group">
								<input th:field="*{province}" class="form-control" readonly>
							</div>
							<div class="form-group">
								<input th:field="*{wards}" class="form-control" readonly>
							</div>

							<div class="form-group">
								<input th:field="*{sdt}" class="form-control" readonly>
							</div>
							<div class="form-group">
								<div class="input-checkbox">
									<input type="checkbox" id="create-account"> <label
										for="create-account"> <span></span> Chú thích với của hàng
									</label>
									<div class="caption">
										<p>Để lại lời nhắn cho cửa hàng nếu có vấn đề với sản phẩm </p>
										<input class="input" type="password" name="password"
											placeholder="Enter Your Comment">
									</div>
								</div>
							</div>
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="shiping-address"> <label
									for="shiping-address"> <span></span> Chuyển tới địa chỉ khác ?
								</label>
								<div class="caption">
									<div class="form-group">
										<input class="input" type="text" name="first-name"
											placeholder="First Name">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="last-name"
											placeholder="Last Name">
									</div>
									<div class="form-group">
										<input class="input" type="email" name="email"
											placeholder="Email">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="address"
											placeholder="Address">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="city"
											placeholder="City">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="country"
											placeholder="Country">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="zip-code"
											placeholder="ZIP Code">
									</div>
									<div class="form-group">
										<input class="input" type="tel" name="tel"
											placeholder="Telephone">
									</div>
								</div>
							</div>
						</div>
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">ORDER LINES</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div>
									<strong>Sản phẩm</strong>
								</div>
								<div>
									<strong>Tổng tiền</strong>
								</div>
							</div>
							<div class="order-products" th:each="detail:*{orderDetails}" th:object="${detail}">
								<div class="order-col">
									<div>[[*{quantity}]]x[[*{product.name}]]</div>
									<div>$[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',2,'POINT')}]]</div>
								</div>

							</div>
							<div class="order-col">
								<div>Phí vận chuyển</div>
								<div>
									<strong>Miễn phí</strong>
								</div>
							</div>
							<div class="order-col" th:each="detail:*{orderDetails}" th:object="${detail}">
								<div>
									<strong>Tổng</strong>
								</div>
								<div>
									<strong class="order-total">$[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',2,'POINT')}]]</strong>
								</div>
							</div>
						</div>
						
						<a href="#" class="primary-btn order-submit">Tiếp tục mua hàng</a>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		
	</main>
</body>
</html>