<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
	<main>
		<section class="shoping-cart spad" th:fragment="shopping-cart">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="shoping__cart__table">
							<div class="section-title">
								<h3 class="title">Đơn hàng của bạn</h3>
							</div>
							<table>
								<thead>
									<tr>
										<th class="text-center">Thứ tự</th>
										<th class="text-center">Mã đơn hàng</th>
										<th class="text-center">Ngày đặt</th>
										<th class="text-center">Trạng thái</th>
										<th class="text-center">Đơn hàng</th>
										
									</tr>
								</thead>
								<tbody>
									<tr th:each="order,state:${orders}">
										<td class="text-center">
											<h5>[[${state.index}]]</h5>
										</td>
										<td class="text-center">[[${order.id}]]</td>
										<td class="text-center ">[[${order.createDate}]]</td>
										<td class="text-center ">[[${order.status =='0'?'Chờ duyệt':''}]]
											[[${order.status=='1'?'Đang ship':''}]]
											[[${order.status=='2'?'Thành công':''}]]
											[[${order.status=='3'?'Đã hủy':''}]]
										</td>
					
										<td><a th:href="@{|/order/detail/${order.id}|}"
											class="btn btn-default"> <b
												class="glyphicon glyphicon-search"></b>
										</a></td> 
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-lg-6">
						<div>
							

							<a th:href="@{/product/list}" class="primary-btn">Tiếp tục mua hàng</a>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
</body>
</html>