<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- forn woansam -->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  
    <link  href="/assets/css/aside.css" rel="stylesheet"> 
</head>

<body>
    <main class="container">
        <header class="row">
            <div class="col">
                <div th:replace="admin/fragments/header :: header">1</div>
            </div>
        </header>
        <nav class="row">
            <div class="col">
                <div th:replace="admin/fragments/nav :: nav">3</div>
            </div>
        </nav>
        <div class="row">
          <aside class="col-sm-3 ">
           <div class="col">
                 <div th:replace="admin/fragments/aside :: aside">3</div>
            </div>
          </aside>
          
            <article class="col-sm-7 ">
           <div class="col">
                <div layout:fragment="contents"></div>
            </div>
          </article>>
          </div>
        
        <!-- 
        <section class="row">
            <div class="col">
                <div layout:fragment="content"></div>
            </div>
        </section> -->
        
        <footer class="row">
            <div class="col">
                <div th:replace="admin/fragments/footer :: footer">2</div>
            </div>
        </footer>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

<script >
const aside =document.querySelector('aside');
const toggle_menu =document.querySelector('.toggle_menu');
const article=document.querySelector('article');

toggle_menu.onclick = function(){
	aside.classList.toggle('hide');
	article.classList.toggle('expand');
}
</script>
</html>