<div class="panel panel-default">
	<div class="panel-heading">PRODUCT LIST</div>
	<table class="table table-condensed">
		<thead class="bg-success" style="fon-variant: small-caps;">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Date</th>
				<th>Image</th>
				<th>Category</th>
				<th>Available?</th>
			</tr>
		</thead>
		<tbody>
	<!-- 	ng-repeat là duyejt qua -->
		<tr ng-repeat="item in pager.items">
				<th>{{item.id}}</th>
				<th>{{item.name}}</th>
				<th>{{item.price |number :2}}</th>
				<th>{{item.createDate |date :'dd-MM-yyyy'}}</th>
				<th>{{item.image}}</th>
				<th>{{item.category.name}}</th>
				<th>{{item.available?'Yes':'No'}}</th>
				<td>
				 <div class="btn-group btn-group-xs">
				  <button ng-click="edit(item)" 
				  class="btn btn-warning glyphicon glyphicon-edit"></button>
				   <button ng-click="delete(item)" 
				   class="btn btn-danger glyphicon glyphicon-trash"></button>
				 </div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer text-center">
	   <button ng-click="pager.first()" class="btn btn-danger">
	    <b class="glyphicon glyphicon-hand-up"></b>
	   </button>
	    <button ng-click="pager.prev()" class="btn btn-primary">
	    <b class="glyphicon glyphicon-hand-left"></b>
	   </button>
	   <button class="btn btn-success">{{pager.page+1}} Of {{pager.count}}</button>
	    <button ng-click="pager.next()" class="btn btn-primary">
	    <b class="glyphicon glyphicon-hand-right"></b>
	   </button>
	    <button ng-click="pager.last()" class="btn btn-danger">
	    <b class="glyphicon glyphicon-hand-down"></b>
	   </button>
	</div>
	

</div>