<div class="panel panel-default">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">ProductList</h6>
	</div>
	<table class="table table-condensed">
		<thead class="bg-success" style="fon-variant: small-caps;">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Date</th>
				<th>Image</th>
				<th>Category</th>
				<th>Available?</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<!-- 	ng-repeat là duyejt qua -->
			<tr ng-repeat="item in pager.items">
				<th>{{item.id}}</th>
				<th>{{item.name}}</th>
				<th>{{item.price |number :2}}</th>
				<th>{{item.createDate |date :'dd-MM-yyyy'}}</th>
				<th>{{item.image}}</th>
				<th>{{item.category.name}}</th>
				<th>{{item.available?'Yes':'No'}}</th>
				<td>
					<div class="my-2"></div> <a ng-click="edit(item)"
					class="btn btn-warning btn-icon-split"> <span
						class="icon text-white-50"> <i class="fa fa-info"></i>
					</span>
						<div class="my-2"></div>
				</a> <a ng-click="delete(item)" class="btn btn-danger btn-icon-split">
						<span class="icon text-white-50"> <i class="fas fa-trash"></i>
					</span>

				</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<nav aria-label="Page navigation example"
		class="panel-footer text-center">
		<ul class="pagination justify-content-end">
			<li class="page-item disabled"><a class="page-link"
				ng-click="pager.first()" tabindex="-1">Previous</a></li>
			<li class="page-item"><a class="page-link">{{pager.page+1}}
					Of {{pager.count}}</a></li>
			<li class="page-item"><a class="page-link"
				ng-click="pager.last()">Next</a></li>
		</ul>
	</nav>

</div>


</div>