.poly-item img{
	height: 250px;
	max-width: 95%;
}
.poly-item.panel-title{
	font-size: smaller;
}
.poly-item-detail img{
	max-width: 80%;

	}
	  ul.panel-body li{
        max-width: 524px;
         /* khá»�i bá»‹ trÃ n ra ngoÃ i */
        overflow: hidden;
    }
    ul.panel-body li a img{

        max-width: 100%;
        /* lÃ m cháº­m quÃ¡ trÃ¬nh phÃ³ng to  */
        transition: all 0.3s ease-in-out; 
    }
    
    ul.panel-body li:hover img{
        /* phÃ³ng to lÃªn 10% */
      transform:scale(1.2) ;  
    /* Ä‘á»™ má»� khi run áº£nh */
      opacity: 0.8;
    }