<div xmlns:th="http://www.thymeleaf.org">

	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">

					<th:block th:if="${#request.remoteUser}">
						<li><a th:href="@{/product/list}"> <i
								class="glyphicon glyphicon-home"></i> Trang chủ
						</a></li>

						<li><a th:href="@{/security/logoff}"> <i
								class="glyphicon glyphicon-log-out"></i>Đăng xuất
						</a></li>
						<li><a th:href="@{/order/list}"> <i
								class="glyphicon glyphicon-shopping-cart"></i>Đơn hàng của bạn
						</a></li>

						<li
							th:if="${#request.isUserInRole('DIRE')or #request.isUserInRole('STAF')}">
							<a th:href="@{/admin/index}"> <i
								class="glyphicon glyphicon-user"></i>Quản lý
						</a> 				
					</th:block>
				</ul>
				<ul class="header-links pull-right">
					<th:block th:if="${#request.remoteUser}">
					<li>	<a th:href="@{/security/profile}"> <i
						class="glyphicon glyphicon-user"></i> Wellcome [[${#request.remoteUser}]]
					</a></li>
				</th:block>
				</ul>
				<th:block th:unless="${#request.remoteUser}">
					<ul class="header-links pull-right">
					<li><a th:href="@{/product/list}"> <i
								class="glyphicon glyphicon-home"></i> Trang chủ
						</a></li>
						<li><a th:href="@{/security/login/form}"> <i
								class="glyphicon glyphicon-log-in"></i> Đăng nhập
						</a></li>
						<li><a th:href="@{/security/login/form}"> <i
								class="glyphicon glyphicon-log-in"></i> Đăng kí
						</a></li>
					</ul>
					
					
				</th:block>
				</ul>
				
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a th:href="@{/product/list}"class="logo"> <img src="/assets/images/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form>
								<select class="input-select" >
									<option value="0" th:each="c:${cates}"> [[${c.name}]]</option>
								</select> <input class="input" placeholder="Search here">
								<button class="search-btn" >Search</button>
							</form>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<div>
								<a href="#"> <i class="fa fa-heart-o"></i> <span>Yêu thích
										</span>
									<div class="qty">0</div>
								</a>
							</div>
							<!-- /Wishlist -->

							<!-- Cart -->
							<div >
								<a th:href="@{/cart/view}"> <i class="fa fa-shopping-cart"></i> <span>Giỏ Hàng</span>
									<div class="qty">{{cart.count}}</div>
								</a>

							</div>
							<!-- /Cart -->

							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#"> <i class="fa fa-bars"></i> <span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
</div>