*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins',sans-serif;
  
}
body{
    position: relative;
    width: 100%;
    min-height: 150vh;
}
aside{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
aside ul {
    width: 100%;
    list-style: none;
    overflow: hidden;
}
aside ul li a {

    width: 100%;
    color: #1e90ff;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-flex;
    align-items:center ;
    padding: 15px;
    transition: linear 0.5s;
}
aside ul li a i {
    margin:1px;
    color: #1e90ff;
    font-size: 1.2em;
    transition: linear 0.2s;
}
aside ul li a:hover i{
    color: white;
}
aside ul li a:hover {
    background-color: #1e90ff;
    color: white;
}

aside .toggle_menu{
    position: absolute;
    top: 20px;
    right: -46px;
}
aside .toggle_menu:hover i{
    color: #f1f1f1;
}
aside .toggle_menu:hover{
    background-color: #1e90ff;
}
aside .toggle_menu i{
    color: #1e90ff;
    font-size: 1.5em;
    transition: linear 0.2s;
}
aside .toggle_menu{
    position: absolute;
right: -46px;
    top: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: linear;
}
aside.hide{
    width: 0;
}
